PORT=3000
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
JWT_SECRET=
JWT_EXPIRES_IN=1d

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Genera JWT_SECRET con: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
